#
# .gitignore
#

###
# ignore basic backup files
###
*.bak
*.tmp
tmp_*
*.orig




###
# Temporary Ignores
###
*.zip

###
# Ignore Doxygen-generated documentation, for now.
###
docs/doxygen/
cmake-build-debug/
CMakeLists.txt
